{% extends "layout.html" %}
{% block content %}
 

      <div class="row">
         <div class="col-md-12">


            <div class="search-menu">

              <form action = "http://localhost:5000/analysis_report" method = "POST" enctype = "multipart/form-data">

              <div id="wrapper"></div>
              
              
             
                    <select name="field" id="test">
                      {% for col in columns %} 
                          <option value="{{col}}">{{col}}</option>
                      {% endfor %}    
                    </select>
                    <p id="aaa"></p>
                    

                    <input type="button" id="more_fields" class="btn btn-blue-light" onclick="add_fields();" value="Add More" />
                    
                    

                  
                    <button type="submit">Do</button>

               </form>
              <a class="btn export-btn btn-grey download" onclick="window.location.href='{{ url_for('download') }}';" target="_blank">Export Report</a>
              <a class="btn export-btn btn-grey download" onclick="window.location.href='{{ url_for('analysis') }}';" target="_blank" >Advanced Analysis</a>
              <a class="btn new-report btn-grey download" href="/" target="_blank">New Report</a>
               


      <div class="form-tabs">
              <div class="row">
                <div class="col-md-12">
                  <ul class="tabs">
                    
                    <li class="fed_size active"><a href="/federation_by_size_all">All</a></li>

                    {% for index, row in fed_sizes.iterrows() %}

                    <li class="fed_size {{row['City-Size']}}"><a href="/federation_by_size/{{row['City-Size']}}">{{row['City-Size']}}<span>(</span><span>{{row['First Name']}}</span><span>)</span></a></li>

                    {% endfor %}

                  </ul>
                </div>
              </div>

            </div>

            

          <div class="general-form">
                <div class="main-table result-table">
                    <div class="result-table-wrapper">
                        <div class="sticky-wrap table-sticky">

                            {% for table in tables %}
                               
                                {{ table|safe }}
                            {% endfor %}
                         
                        </div>
                    </div>
                  </div>
          </div>
   
{% endblock content %}