{% extends "layout.html" %}
{% block content %}
 

      <div class="row">
         <div class="col-md-12">
          <p id="url"></p>
            <div class="search-menu">

              <div class="progress_bar third">
              <div class="numberCircle one">1</div>
              <hr class="lineCircle">
              <div class="numberCircle two">2</div>
              <hr class="lineCircle">
              <div class="numberCircle three">3</div>
            </div>

            <div class="progress_bar_bottom">
              <div class="numberCircle">UPLOAD FILE</div>
              <hr class="lineCircle">
              <div class="numberCircle">VALIDATE</div>
              <hr class="lineCircle">
              <div class="numberCircle">ANALYZE/DOWNLOAD</div>
            </div>

            <a class="go_back" href='/uploader'><i class="fa fa-arrow-left"></i> Go to Step 2</a>
            <h1>STEP 3: ANALYZE & DOWNLOAD REPORT</h1>
            <hr>

          
            <p>Your new report now contains city sizes.  You can view the full report below in the "All" tab or view the report by city size by clicking on any city size tab. Download the report at any time by clicking on the download button. Please note that you will download a report of your current view. If you want to download the full report, be sure you are in the "All" tab.</p>
            <p>&nbsp;</p>

              <form action = "/analysis_report" method = "POST" enctype = "multipart/form-data">

              <div id="wrapper"></div>

              
              
             
                    <!--<select name="field">
                      {% for col in columns %} 
                          <option value="{{col}}">{{col}}</option>
                      {% endfor %}    
                    </select>

                    <input type="button" id="more_fields" class="btn btn-blue-light" onclick="add_fields();" value="Add More" />
                    
                    

                  
                    <button type="submit">Do</button>-->

               </form>
              <a class="btn export-btn btn-grey download" onclick="window.location.href='{{ url_for('download') }}';" target="_blank"><i class="fa fa-cloud-download"></i> Export Report</a>
              <!--<a class="btn export-btn btn-grey download" onclick="window.location.href='{{ url_for('analysis') }}';" target="_blank" >Advanced Analysis</a>-->
              <a class="btn new-report btn-grey download" href="/" target="_blank"><i class="fa fa-cloud-upload"></i> New File</a>


      <div class="form-tabs">
              <div class="row">
                <div class="col-md-12">
                  <ul class="tabs">
                    
                    <li class="fed_size"><a href="/federation_by_size_all">All</a></li>

                    {% for index, row in fed_sizes.iterrows() %}

                    <li class="fed_size {{row['City-Size']}}"><a href="/federation_by_size/{{row['City-Size']}}">{{row['City-Size']}}<span>(</span><span>{{row['First Name']}}</span><span>)</span></a></li>

                    {% endfor %}

                  </ul>
                </div>
              </div>

            </div>

            

          <div class="general-form">
                <div class="main-table result-table">
                    <div class="result-table-wrapper">
                        <div class="sticky-wrap table-sticky">

                            {% for table in tables %}
                               
                                {{ table|safe }}
                            {% endfor %}
                         
                        </div>


                        <div class="sticky-wrap table-sticky">

                            {% for table in tables %}
                               
                                {{ table|safe }}
                            {% endfor %}
                         
                        </div>
                        
                    </div>
                  </div>
          </div>
   
{% endblock content %}