{% extends "layout.html" %}
{% block content %}


    <div class="container">
       <div class="row">
         <div class="col">

            <div class="progress_bar second">
              <div class="numberCircle one">1</div>
              <hr class="lineCircle">
              <div class="numberCircle two">2</div>
              <hr class="lineCircle">
              <div class="numberCircle three">3</div>
            </div>

            <div class="progress_bar_bottom">
              <div class="numberCircle">UPLOAD FILE</div>
              <hr class="lineCircle">
              <div class="numberCircle">VALIDATE</div>
              <hr class="lineCircle">
              <div class="numberCircle">ANALYZE/DOWNLOAD</div>
            </div>

            
            <a class="go_back" href='/'><i class="fa fa-arrow-left"></i> Go to Step 1</a>
            <h1>STEP 2: SELECT COMMUNITY COLUMN</h1>
            <hr>

            
            <p>You have successfully uploaded the following file:  <b>{{filename}} </b><a href="/"><i class="fa fa-times-circle" style="color: #78a7e1;"></i></a></p>
            <p>&nbsp;</p>
            <p>Please select the title of the column where the list of Communities appears in your report. This application will add the related city size in an additional column to the right of community column.</p>
            

            <form action = "/federation_by_size_all" method = "POST" enctype = "multipart/form-data" style="margin-top:20px;">


                    
                    <select name="field">
                      <option default>Select Column</option>
                      {% for col in columns %} 
                          <option value="{{col}}">{{col}}</option>
                      {% endfor %}    
                    </select>

                  

                    <button type="submit" class="btn btn-blue-light" style="display:inline-block;">Submit</button>

               </form>

              
                
            

          </div>
        </div>
      </div>

      
{% endblock content %}