{% extends "layout.html" %}
{% block content %}


    <div class="container">
       <div class="row">
         <div class="col">

            <h1>UPLOAD A REPORT</h1>
            <hr>
            <p>Please select a report from your computer that you would like to update with community city sizes. Please note that this application only analyzes the first sheet of a multi-sheet file and accepts the following file types: .xls, .xlsx, .csv</p>
           
           


            <form action = "http://localhost:5000/uploader" method = "POST" enctype = "multipart/form-data" style="margin-top:20px;">

              <label for="file-upload" class="btn btn-blue-light" style="display:table-cell;">
                     <i class="fa fa-cloud-upload"></i> Add File
              </label>
              <input id="file-upload" name='file' type="file" style="display:none;" onchange="form.submit()">
              
               
               <p>
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                  <ul class=flashes>
                  {% for message in messages %}
                    <li style="color:red;">{{ message }}</li>
                  {% endfor %}
                  </ul>
                  {% endif %}
                {% endwith %}
            </p>

                
              
            
                
            
               

            </form>


            



          </div>
        </div>
      </div>

      
{% endblock content %}