{% extends "layout.html" %}
{% block content %}


    <div class="container">
       <div class="row">
         <div class="col">
            <a class="go_back" href='/'><i class="fa fa-arrow-left"></i> Go to Step 1</a>
            <h1>STEP 2: SELECT COMMUNITY COLUMN</h1>
            <hr>

            <p>Please select the title of the column where the list of Communities appears in your report. This application will add the related city size in an additional column to the right of community column.</p>
            <p>&nbsp;</p>
            <p>You have successfully uploaded the following file:  <b>{{filename}} </b><a href="/"><i class="fa fa-times-circle" style="color: #78a7e1;"></i></a></p>

            <form action = "http://localhost:5000/federation_by_size_all" method = "POST" enctype = "multipart/form-data" style="margin-top:20px;">


                    
                    <select name="field">
                      <option default>Select Column</option>
                      {% for col in columns %} 
                          <option value="{{col}}">{{col}}</option>
                      {% endfor %}    
                    </select>

                  

                    <button type="submit" class="btn btn-blue-light" style="display:inline-block;">Submit</button>

               </form>

              
                
            

          </div>
        </div>
      </div>

      
{% endblock content %}